<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">ようこそ Melody Forest へ!</h1>
      <p>このサイトはオリジナルのBGMを自由に投稿できるサービスです。</p>
      <p><a class="btn btn-primary btn-lg" href="/posts/new" role="button">新規投稿</a></p>
      <%# <p>投稿データ一覧を閲覧したい方はこちらへ!</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">閲覧する</a></p> %>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>カッコいい</h2>
        <p> Cool系BGMのサンプルです。 </p>
        <p><a class="btn btn-secondary" href="#" role="button">試聴する »</a></p>
      </div>
      <div class="col-md-4">
        <h2>明るい</h2>
        <p> 明るい系BGMのサンプルです。 </p>
        <p><a class="btn btn-secondary" href="#" role="button">試聴する »</a></p>
      </div>
      <div class="col-md-4">
        <h2>癒し</h2>
        <p> 癒し系BGMのサンプルです。</p>
        <p><a class="btn btn-secondary" href="#" role="button">試聴する »</a></p>
      </div>
    </div>

    <hr>
    <%#参考 https://master.tech-camp.in/curriculums/3630#17 %>
      <h4>投稿データ一覧</h4>
        <div>
          <% @posts.each do |post| %>

              <%= simple_format(post.title) %>

                <%= post.file %>
    <%#参考 https://master.tech-camp.in/curriculums/3630#17 %>
              <p>
              <div class="more">

                <ul class="more_list">
                  <li>
                    <%= link_to '削除', "/posts/#{post.id}", method: :delete %>
                  </li>
                </ul>
              </div>
          <% end %>
        </div>
    <%#参考 https://master.tech-camp.in/curriculums/3632#5 %>
    <hr>
  </div> <!-- /container -->

</main>

<footer class="container">
  <p>Copyright © 2020</p>
</footer>

<%#参考 https://getbootstrap.com/docs/4.5/examples/jumbotron/ %>