<div class="contents row">
  <div class="success">

  <div class="container">
    <h3>
      更新が完了しました。
    </h3>
    <a class="btn btn-secondary my-2 my-sm-0" href="/">投稿一覧へ戻る</a>
  </div>

  </div>
</div>