.starter-template {
  background: #E7F1DC;
  background-image: url("background6.png");
  background-size: 50%;
}

html {
  background: #11551B;
  background-image: url("background3.png");
  background-size: 20%;
}