$headder:#11551B;
$primary:#64AA36;
$primary2:#B9E289;
$back: #D4F1BB;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora');

$sans-serif: 'Open Sans', sans-serif;
$serif: 'Lora', serif;

.welcome {
  background: $back;
  width: 650px;
  height: 415px;
  position: absolute;
  top: 25%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
}

.greenbox {
  position: absolute;
  top: -10%;
  left: 5%;
  background: $primary;
  width: 320px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0,0,0,.1);
  transition: all .5s ease-in-out;
  z-index: 2;
}

.nodisplay {
  display:none;
  transition: all .5s ease;
}

.leftbox, .rightbox {
  position: absolute;
  width: 50%;
  transition: 1s all ease;
}

.leftbox {
  left: -2%;
}
.rightbox {
  right: -2%;
}

/* font & button styling */

.signup {
  font-family: $serif;
  text-align: center;
  margin-top: 2rem;
  color: $back;
}

.signin {
  font-family: $serif;
  text-align: center;
  margin-top: 3rem;
  color: $back;
}

.title {
  font-family: $serif;
  color: $primary;
  font-size: 1.8em;
  line-height: 1.1em;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 300;
  margin-top: 20%;
}

.account {  //新規登録ボタンの位置
  margin-top: 45%;
  font-size: 10px;
  font-family: $serif;
  font-size: .7em;
  letter-spacing: 2px;
  color: $primary;
  text-align: center;
}

.flower {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 40%;
  left: 29%;
  opacity: .7;
}

// .smaller {
//   width: 90px;
//   height: 100px;
//   top: 48%;
//   left: 38%;
//   opacity: .9;
// }

button {
  padding: 12px;
  font-family: $serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  border-radius: 10px;
  // margin: auto;
  outline: none;
  display: block;
  &:hover {
    background: $primary;
    color: $back;
    transition: background-color 1s ease-out;
  }
}

.button {
  // margin-top: 3%;
  background: $back;
  color: $headder;
  border: solid 1px $primary;
}

/* form styling */

// form {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   // padding-top: 7px;
// }

input[type=checkbox] {
  width: 15px;
  background: $primary;
}

.checkbox input[type="checkbox"]:checked + label {
  transition: .5s all ease;
}

.form-control {
  // background: $primary2; // textboxの背景色
  // width: 65%;    // 入力フォームの幅
  color: $headder;  // 入力後の文字色
  border: none;
  border-bottom: 1px solid rgba($back, 0.5);
  // padding: 9px;
  // margin: 7px;
  &::placeholder {
    color: rgba($back, 1); //placeholderの色
    // letter-spacing: 2px;
    font-size: 1.1em; // placeholderの文字サイズ
    // font-weight: 100;
  }
  &:focus {
    color: $headder; // 入力時の文字色
    outline: none;
    border-bottom: 1.2px solid rgba($headder, 0.7); //入力中の下線の色
    font-size: 1.1em; //入力中の文字サイズ
    // transition: .8s all ease; //
    &::placeholder {
      opacity: 0;
    }
  }
}

input {
  // background: $primary; // ファイル選択フォームの背景色
  // width: 65%; ボタンの幅
  color: $primary; //ファイル選択フォームの文字色
  border: none;
  border-bottom: 1px solid rgba($back, 0.5);
  // padding: 9px;
  // margin: 7px;
  &::placeholder {
    color: rgba($back, 1);
    letter-spacing: 2px;
    font-size: 1.3em;
    font-weight: 100;
  }
  &:focus {
    color: $primary;
    outline: none;
    border-bottom: 1.2px solid rgba($primary, 0.7);
    font-size: 1em;
    transition: .8s all ease;
    &::placeholder {
      opacity: 0;
    }
  }
}